html, body {
	min-height: 100vh;
	min-width: 100vw;
	margin: 0;
	padding: 0;
}

body {
	font-family: monospace;
}

div {
	margin: 0;
	padding: 0;
}

.panel {
	display: inline-block;
	margin: 0;
	padding: 0;
}

#message_panel {
	width: 20%;
	height: 100%;
	margin-left: 10%;
}

#main_panel {
	width: 40%;
	height: 100%;
}

#menu_panel {
	width: 20%;
	height: 100%;
}